*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #73798a;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 30px 20px 20px;
    background: #1e1e1e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    background: #585555;
    color: whitesmoke;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons .button{
    padding: 12px 10px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #504e4e52;
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: white;
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    background-color: #e2780f;
    border-radius: 50%;
}